
body {
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.counter {
  display: flex;
  gap: 20px;
  background-color: #ecc59a;
  padding: 10px 20px;
  border: 1px solid #ecc59a; 
  border-radius: 5px;
}
.counter div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.next-player {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}
.occupied {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.occupied.whitePiece {
  background-color: white;
}

.occupied.blackPiece {
  background-color: black;
}


.game {
  background-color: #4c382e;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.game .row {
  width: 100%;
  height: 10%;
  display: flex;
}

.game .row .column {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game .row .column .occupied {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.game .row .column .occupied.blackPiece {
  background-color: black;
}

.game .row .column .occupied.whitePiece {
  background-color: white;
}

.game .row .column.whiteCase {
  background-color: #4c382e;
}

.game .row .column.blackCase {
  background-color: #ecc59a;
}

.readyToMove {
  background-color: green;
}
